## Import required libraries

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats

#### Create dataset for nation and a state minnesota to conclude wether the observed distribution of a categorical variable differs from your expectations.

In [2]:
national = pd.DataFrame(["white"]*100000 + ["hispanic"]*60000 +\
                        ["black"]*50000 + ["asian"]*15000 + ["other"]*35000)
           

minnesota = pd.DataFrame(["white"]*600 + ["hispanic"]*300 + \
                         ["black"]*250 +["asian"]*75 + ["other"]*150)

national_table = pd.crosstab(index=national[0], columns="count")
minnesota_table = pd.crosstab(index=minnesota[0], columns="count")

print( "National")
print(national_table)
print(" ")
print( "Minnesota")
print(minnesota_table)

National
col_0      count
0
asian      15000
black      50000
hispanic   60000
other      35000
white     100000

Minnesota
col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

In [9]:
observed = minnesota_table

national_ratios = national_table/len(national)  # Get population ratios

expected = national_ratios * len(minnesota)   # Get expected counts

#### Expected data

In [10]:
expected

col_0          count
0
asian      79.326923
black     264.423077
hispanic  317.307692
other     185.096154
white     528.846154

In [11]:
observed = minnesota_table

#### Observed data

In [12]:
observed

col_0     count
0
asian        75
black       250
hispanic    300
other       150
white       600

#### Perform Chi Square test

In [15]:
chi_squared_stat = (((observed-expected)**2)/expected).sum().sum()

print(chi_squared_stat)

18.194805194805177

In [21]:
crit = stats.chi2.ppf(q = 0.95, # Find the critical value for 95% confidence*
                      df = 4)   # Df = number of variable categories - 1

print("Critical value")
print(crit)

p_value = 1 - stats.chi2.cdf(x=chi_squared_stat,  # Find the p-value
                             df=4)
print("P value")
print(p_value)

Critical value
9.487729036781154
P value
0.001130467092803511

## Analyse the result :
#### Since our chi-squared statistic exceeds the critical value, we reject the null hypothesis that the two distributions are the same.
#### Conclusion: difference between the observed and expected distributions is statistically significant. Both have different distribution.

* If the chi_square value is greater than the critical value, then the difference between the observed and expected distributions is statistically significant (p <  α).The data allows you to reject the null hypothesis and provides support for the alternative hypothesis.
* If the chi_square value is less than the critical value, then the difference between the observed and expected distributions is not statistically significant (p >  α).The data doesn’t allow you to reject the null hypothesis and doesn’t provide support for the alternative hypothesis.

In [22]:
stats.chisquare(f_obs= observed,   # Array of observed counts
                f_exp= expected)   # Array of expected counts

Power_divergenceResult(statistic=array([18.19480519]), pvalue=array([0.00113047]))